<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
  </head>
  <body id="users">
    <div class="wrapper">
        <%= render "layouts/header_user" %>
      <div class="user">
        <% unless flash.empty? %>
          <script type="text/javascript">
            <% flash.each do |f| %>
              <% type = f[0].to_s.gsub("alert", "error").gsub("notice", "info") %>
              toastr['<%= type %>']('<%= f[1] %>');
            <% end %>
          </script>
        <% end %>
        <div class="container">
          <%= render "/layouts/slide" %>
          <%= yield %>
          <%= render "/layouts/footer" %>
        </div>
      </div>
    </div>
  </body>
</html>
