<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <script type="text/javascript">
      $(document).on('ready turbolinks:load', function() {
        $('#popcart').on("click", function(){
          $('.popcart').toggle();
        });
      })
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
  </head>
  <body >
    <div class="wrapper">
      <%= render "layouts/header_user" %>
      <div id="users">
        <div class="user">
          <%= render "layouts/header" %>
          <% unless flash.empty? %>
            <script type="text/javascript">
              <% flash.each do |f| %>
                <% type = f[0].to_s.gsub("alert", "error").gsub("notice", "info") %>
                toastr['<%= type %>']('<%= f[1] %>');
              <% end %>
            </script>
          <% end %>
          <%= yield %>
        </div>
      </div>
      <%= render "/layouts/footer" %>
    </div>
  </body>
</html>
